body {
  background-color: rgb(25,25,25);
  color: white;
  font-family: Arial;
}

.title{
  font-size: 30px;
  font-weight: bold;
}

.rock-button, .paper-button, .scissors-button {
  background-color: transparent;
  border-width: 3px;
  border-style: solid;
  border-color: white;
  border-radius: 300px;
  width: 120px;
  height: 120px;
  margin-right: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.rock-pic, .paper-pic, .scissors-pic, .moves-pic{
  height: 50px;
  width: 50px;
  background-color: rgb(25,25,25);
}

.result {
  font-size: 26px;
  font-weight: bold;
}

.score {
  margin-top: 60px;
}

.reset-score-button, .auto-play-button{
  padding: 8px 14px;
  background-color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  transition: opacity 0.15s;
}

.reset-score-button:hover, .auto-play-button:hover{
  opacity: 0.7;
}

.reset-score-button:active, .auto-play-button:active{
  opacity: 0.4;
}